{% extends "docs/base.html" %}
{% load static %}
{% load i18n %}

{% block body_class %}template-404{% endblock %}

{% block title %}Page introuvable{% endblock %}

{% block content %}
<section>
    <div class="row">
        <div class="col-md-12">
            <h2 class="dark-text">{% translate 'Page not found' %}
                <hr />
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>{% translate 'We’re sorry, but the page you’re looking for doesn’t exist. However, you can search for your page here.' %}</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <form action={% url 'search' %} method="get">
                <div class="input-group">
                    <input class="form-control" type="text" name="query" placeholder="{% translate 'Search' %}" />
                    <span class="input-group-btn"><button class="btn btn-default"><span class="fa fa-search"></span></button></span>
                </div>
                <hr />
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 center">
            <span class="image">
                <img src="{% static 'images/404.jpg' %}" alt="404" />
            </span>
            <p><em>{% translate 'Image by <a href="https://http.cat/">HTTP.cat</a>' %}</em></p>
        </div>
    </div>
{% endblock %}
