{% extends 'docs/base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load i18n %}

{% block body_class %}template-blogpage{% endblock %}

{% block nav %}{% endblock %}

{% block content %}
<section id="{{ value.title | slugify }}">
    <div class="row">
        <div class="col-md-12">
            <h2 class="dark-text">{% translate 'Search results' %}{% if search_query %}<q>{{ search_query }}</q>{% endif %}</h2>
            <hr />
            </h2>
        </div>
        <div class="col-md-12">
            <form action={% url 'search' %} method="get">
                <div class="input-group">
                    <input class="form-control" type="text" name="query" placeholder="{% translate 'Search' %}"{% if search_query %} value="{{ search_query }}"{% endif %} />
                    <span class="input-group-btn"><button class="btn btn-default"><span class="fa fa-search"></span></button></span>
                </div>
            </form>
            <hr />
        </div>
    </div>
</section>
<section>
    {% for item in search_results %}
    <div class="row">
        <div class="col-md-12">
            <h3><a href="{% pageurl item %}">{{ item.title }}</a></h3>
            {% if item.search_description %}<p>{{ item.search_description }}</p>{% endif %}
            <hr />
        </div>
    </div>
    {% empty %}
        {% if search_query %}
        <div class="row">
            <div class="col-md-12">
                <p>{% translate 'No results for this search query.' %}</p>
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col-md-12">
                <p>{% translate 'Please enter a search query.' %}</p>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    {% if search_results.paginator.num_pages > 1 %}
    <div class="row">
        <div class="col-md-12">
            <div class="pagination">
                <ul class="actions">
                {% for page in search_results.paginator.page_range %}
                    {% if page == search_results.number %}
                        <li><a class="button special">{{ page }}</a></li>
                    {% else %}
                        <li><a class="button" href="?query={{ search_query | urlencode }}&amp;page={{ page }}">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}
