{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags home_tags %}
{% load i18n %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
    <header class="major">
        <h2>{{ page.title }}</h2>
        {% breadcrumbs %}
        {{ page.intro | richtext }}
    </header>
    <section class="posts">
    {% for page in articles %}
            <article>
                <header>
                    <span class="date">{{ page.specific.date }}</span>
                    <h2><a href="{% pageurl page %}">{{ page.title }}</a></h2>
                    {{ page.specific.intro | richtext }}
                </header>
                <a href="{% pageurl page %}" class="image fit">{% image page.specific.image fill-508x310%}</a>
                <ul class="actions special">
                    <li><a href="{% pageurl page %}" class="button">{% translate 'Read more' %}</a></li>
                </ul>
            </article>
    {% endfor %}
    </section>
    {% if articles.paginator.num_pages > 1 %}
    <div class="pagination">
        {% for page in articles.paginator.page_range %}
            {% if page == articles.number %}
                <a class="button special">{{ page }}</a>
            {% else %}
                <a class="button" href="?page={{ page }}">{{ page }}</a>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}
    </div>
{% endblock %}
