{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags home_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
    <header class="major">
        <span class="date">{{ page.specific.date }}</span>
        <h2>{{ page.title }}</h2>
        {{ page.intro | richtext }}
    </header>
    <article class="post">
        <p class="image fit">{% image page.specific.image fill-1008x491%}</p>
        {{ page.specific.body }}
    </article>
{% endblock %}
