{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags home_tags %}

{% block body_class %}template-featurepage{% endblock %}

{% block content %}
    <section id="main" class="wrapper">
        <div class="inner">
            {% breadcrumbs %}
            <h1>{{ page.title }}</h1>
            {{ page.intro }}
            <form action="{% pageurl page %}" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit">
            </form>
        </div>
    </section>
{% endblock %}
