{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}
{% load i18n %}

{% block content %}

    <section id="body" class="wrapper style2 spotlights">
        <div class="inner">
            {{ self.body }}
        </div>
    </section>

    {% if self.blog_page %}
        {% for page in self.blog_page.get_first_children %}
            {% if forloop.first %}<article class="post featured">
            {% else %}<article>{% endif %}
                    <header{% if forloop.first %} class="major"{% endif %}>
                        <span class="date">{{ page.specific.date }}</span>
                        <h2><a href="{% pageurl page %}">{{ page.title }}</a></h2>
                        {{ page.specific.intro | richtext }}
                    </header>
                    <a href="{% pageurl page %}" class="image {% if forloop.first %}main{% else %}fit{% endif %}">{% if forloop.first %}{% image page.specific.image fill-1008x491 %}{% else %}{% image page.specific.image fill-508x310 %}{% endif %}</a>
                    <ul class="actions special">
                        <li><a href="{% pageurl page %}" class="button{% if forloop.first %} large{% endif %}">{% translate 'Read more' %}</a></li>
                    </ul>
                </article>
            {% if forloop.first %}<section class="posts">{% endif %}
        {% empty %}
            <section class="posts">
        {% endfor %}
            </section>

    {% endif %}


    <section id="contact" class="wrapper style1 fade-up">
        <div class="inner">
            {% if self.contact_form %}
            <h2>{{ self.contact_form.title }}</h2>
            {{ self.contact_form.intro }}
            <div class="split style1">
                <section>
                    <form method="POST" action="{% pageurl self.contact_form %}">
                        {% csrf_token %}
                        {% for field in self.contact_form.get_form %}
                        <div class="field {{ field.field.widget.attrs.class }}">
                            <label for="id_{{ field.name }}">{{ field.label }}</label>
                            {% include_block field %}
                        </div>
                        {% endfor %}
                        <ul class="actions">
                            <li><input type="submit" value="{% translate 'Send a message' %}"/></li>
                        </ul>
                    </form>
                </section>
            {% else %}
            <div>
            {% endif %}
                <section>
                    <ul class="contact">
                        {{ self.contact_details }}
                    </ul>
                </section>
            </div>
        </div>
    </section>
{% endblock %}
