{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-loginpage{% endblock %}

{% block content %}
    <section id="main" class="wrapper">
        <div class="inner">
            <h1 class="major">Authentification</h1>
            <p>Vous n’avez pas le droit d’accéder à cette page. Connectez-vous
            pour continuer.</p>
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}" />
                {{ form.as_p }}
                <button type="submit" class="button">
                    Connexion
                </button>
            </form>
        </div>
    </section>
{% endblock %}


