{% with id=widget.attrs.id %}
<div class="row uniform">
{% for group, options, index in widget.optgroups %}
    {% for option in options %}
<div{% if id %} id="{{ id }}"{% endif %} class="4u 12u$(small){% if widget.attrs.class %} {{ widget.attrs.class }}{% endif %}">
        {% include "django/forms/widgets/input.html" with widget=option %}
        <label{% if option.attrs.id %} for="{{ option.attrs.id }}"{% endif %}>
        {{ option.label }}</label>
</div>
{% endfor %}
{% endfor %}
</div>
{% endwith %}

