{% extends 'docs/base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load bootstrap3 %}

{% block body_class %}template-loginpage{% endblock %}

{% block title %}Authentification{% endblock %}

{% block content %}
<section>
    <div class="row">
        <div class="col-md-12">
            <h2 class="dark-text">Authentification
                <hr />
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>Vous n’avez pas le droit d’accéder à cette page. Connectez-vous
            pour continuer.</p>
        </div>
    </div>
</section>
<section>
    <div class="row">
        <div class="col-md-12">
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}" />
                {% bootstrap_form form %}
                {% buttons %}
                <button type="submit" class="btn btn-primary">
                    Connexion
                </button>
                {% endbuttons %}
            </form>
        </div>
    </div>
</section>
{% endblock %}

