<li>
    <h3>{{ value.title }}</h3>
{% if value.url %}<a href="{{ value.url }}">{% endif %}{% if value.name %}{{ value.name }}{% else %}{{ value.url }}{% endif %}{% if value.url %}</a>{% endif %}
</li>
