{% load wagtailcore_tags %}
<div class="row">
    <div class="col-md-12">
        <h4 id="{{ value.title | slugify }}">{{ value.title }}</h4>
    </div>
</div>
{% for item in value.body %}
<div class="row block-{{ item.block_type }}">
    <div class="col-md-12">
        {{ item }}
    </div>
</div>
{% endfor %}

