{% load wagtailcore_tags %}

{% if ancestors %}
  <ul class="breadcrumb menu">
    {% for ancestor in ancestors %}
      {% if forloop.last %}
      <li class="active">{% if ancestor.seo_title %}{{ ancestor.seo_title }}{% else %}{{ ancestor.title }}{% endif %}</li>
      {% else %}
      <li><a href="{% pageurl ancestor %}">{% if ancestor.seo_title %}{{ ancestor.seo_title }}{% else %}{{ ancestor.title }}{% endif %}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
{% endif %}
