{% load home_tags wagtailcore_tags %}
{% get_site_root as site_root %}


{% for item in menuitems %}
<li class="{% if item.active %}active{% endif %}"><a href="{% pageurl item %}">{% if item.seo_title %}{{ item.seo_title }}{% else %}{{ item.title }}{% endif %}</a></li>
{% endfor %}
