{% load static %}{% load wagtailuserbar wagtailimages_tags wagtailcore_tags i18n %}{% load home_tags %}{% load i18n %}<!DOCTYPE HTML>
<!--
	Story by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
    <head>
        <title>{{ request.site.site_name }} — {% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}</title>
        <meta charset="utf-8" />
        <meta name="description" content="{{ self.search_description }}" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link href="{% url 'basic_feed' %}" type="application/atom+xml" rel="alternate" title="Basic RSS feed" />
        <link href="{% url 'extended_feed' %}" type="application/atom+xml" rel="alternate" title="Extended RSS feed" />
        <link rel="stylesheet" href="{% static 'css/main.css' %}" />
        <link rel="stylesheet" href="{% static 'css/theme.css' %}" />
        <noscript><link rel="stylesheet" href="{% static 'css/noscript.css' %}" /></noscript>
        {% for script in scripts %}{% if script.css_file %}<link rel="stylesheet" href="{% if request.site.port == 443 %}https://{% else %}http://{% endif %}{{ request.site.hostname }}{% if request.site.port > 443 %}:{{ request.site.port }}{% endif %}{{ script.css_file.url }}" />{% endif %}
        {% endfor %}
        <meta name="twitter:card" content="summary" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{% if request.site.port == 443 %}https://{% else %}http://{% endif %}{{ request.site.hostname }}" />
        <meta property="og:title" content="{{ request.site.site_name }}" />
        {% for meta in meta_tags %}{% if meta.meta_type == 'shortcut-icon' %}<link rel="shortcut icon" href="{% if request.site.port == 443 %}https://{% else %}http://{% endif %}{{ request.site.hostname }}{% if request.site.port > 443 %}:{{ request.site.port }}{% endif %}{% image meta.image fill-48x48 as favicon %}{{ favicon.url }}" />
        <link rel="apple-touch-icon-precomposed" href="{% if request.site.port == 443 %}https://{% else %}http://{% endif %}{{ request.site.hostname }}{% if request.site.port > 443 %}:{{ request.site.port }}{% endif %}{% image meta.image fill-128x128 as favicon %}{{ favicon.url }}" />{% elif meta.meta_type|startswith:'twitter' %}<meta name="{{ meta.meta_type }}" content="{% if meta.image %}{{ meta.image.url }}{% else %}{{ meta.content }}{% endif %}" />{% elif meta.meta_type|startswith:'og' %}<meta property="{{ meta.meta_type }}" content="{% if meta.image %}{% if request.site.port == 443 %}https://{% else %}http://{% endif %}{{ request.site.hostname }}{% if request.site.port > 443 %}:{{ request.site.port }}{% endif %}{% image meta.image original as img %}{{ img.url }}{% else %}{{ meta.content }}{% endif %}" />{% endif %}
        {% endfor %}
        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>
    <body class="is-preload {% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        {% if home_page %}
		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->
					<div id="intro">
                        <h1>{{ self.title }}</h1>
                        {{ self.intro | richtext }}
						<ul class="actions">
                            <li><a href="#header" class="button icon solid solo fa-arrow-down scrolly">{% translate 'Continue' %}</a></li>
						</ul>
					</div>
        {% else %}
		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

        {% endif %}

				<!-- Header -->
					<header id="header">
                        <a href="/" class="logo">{{ request.site.site_name }}</a>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul class="links">
                                                {% top_menu %}
                                                <li{% if request.resolver_match.url_name == 'search' %} class="active"{% endif %}><a href="{% url 'search' %}">{% translate 'Search' %}</a></li>
						</ul>
						<ul class="icons">
                            {% if page %}
                            {% for translation in page.get_translations.live %}
                                {% get_language_info for translation.locale.language_code as lang %}
                                <li><a class="icon" href="{% pageurl translation %}" rel="alternate" hreflang="{{ translation.locale.language_code }}" title="{{ lang.name }}"><span class="icon fa fa-language"> {{ translation.locale.language_code }}</span></a></li>
                            {% endfor %}
                            {% endif %}
                            {% for link in icons %}
                            <li><a href="{{ link.url }}" class="icon fa fa-{{ link.icon }}"><span class="label">{{ link.title }}</span></a></li>
                            {% endfor %}
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
                        {% block content %}
                        {% endblock %}

					</div>


				<!-- Footer -->
					<footer id="footer">
						<section class="split contact">
                            {% for link in footer_links %}
                            <section>
                                <h3>{{ link.title  }}</h3>
                                <p><a href="{% pageurl link.page %}">{{ link.title }}</a></p>
                            </section>
                            {% endfor %}
						</section>
					</footer>

				<!-- Copyright -->
					<div id="copyright">
						<ul><li>Design: <a href="https://html5up.net">HTML5 UP</a></li></ul>
					</div>

			</div>

		<!-- Scripts -->
            <script src="{% static 'js/jquery.min.js' %}"></script>
            <script src="{% static 'js/jquery.scrollex.min.js' %}"></script>
            <script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
            <script src="{% static 'js/browser.min.js' %}"></script>
            <script src="{% static 'js/breakpoints.min.js' %}"></script>
            <script src="{% static 'js/util.js' %}"></script>
            <script src="{% static 'js/main.js' %}"></script>

            {% block extra_js %}
                {# Override this in templates to add extra javascript #}
            {% endblock %}
            {% for script in scripts %}{% if script.js_file %}<script src="{% if request.site.port == 443 %}https://{% else %}http://{% endif %}{{ request.site.hostname }}{% if request.site.port > 443 %}:{{ request.site.port }}{% endif %}{{ script.js_file.url }}"></script>{% endif %}
            {% if script.script_content %}
            <script>
            {{ script.script_content | safe }}
            </script>{% endif %}
            {% endfor %}

    </body>
</html>

